# =========================
# Visual Studio / .NET
# =========================
# IDE caches
.vs/
**/.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build outputs
bin/
obj/
**/bin/
**/obj/
artifacts/
TestResults/
[Bb]uild[Ll]og*.*
*.aps
*.idb
*.pdb
*.cache
*.log
*.tlog
*.lastcodeanalysissucceeded

# NuGet
*.nupkg
*.snupkg
.nuget/packages/
packages/
project.lock.json
project.assets.json
*.nuget.props
*.nuget.targets

# dotnet tools
.dotnet-tools/

# Rider / VS Code / others
.idea/
.vscode/
*.sln.iml

# Publish / temp
publish/
AppPackages/
**/wwwroot/lib/
node_modules/

# OS junk
Thumbs.db
Desktop.ini
.DS_Store
